<div class="m-3 p-3 border">
  <p>parent01 works!</p>
  <div class="mt-3 p-3 border">
    <app-child01>
      <p>Simple Content Projection example, by tag name</p>
      <div class="card-class">Simple Content Projection example, by class</div>
      <div id="card-id">Simple Content Projection example, by id</div>
      <!-- ngProjectAs supports only static values and cannot be bound to dynamic expressions. -->
      <div ngProjectAs="rest">
        Simple Content Projection example, default Fallback content
      </div>
      <div>
        Simple Content Projection example, this text projected from parent01 to
        child01 789
      </div>
      <div>
        Simple Content Projection example, this text projected from parent01 to
        child01 789
      </div>
      <div>
        Simple Content Projection example, this text projected from parent01 to
        child01 789
      </div>
    </app-child01>
  </div>
</div>
