pre {
  color: rgb(210, 0, 0);
  display: flex;
  border: 1px solid gray;
  margin: 20px;
  margin-bottom: 0;
  padding: 20px;
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
