<!-- COMPONENT SELECTORS -->
<!-- COMPONENT SELECTORS -->
<!-- COMPONENT SELECTORS -->
<!-- COMPONENT SELECTORS -->

<!-- 1 tag name selector = default selector -->
<!-- <app-selectors></app-selectors> -->

<!-- 2 class selector -->
<!-- <div class="app-selectors"></div> -->

<!-- 3 id selector -->
<!-- <div id="app-selectors"></div> -->

<!-- 4 attribute selector -->
<!-- <div app-selectors></div> -->

<!-- 5 attribute selector with :not pseudo class -->
<!-- <div app-selectors></div>
<div app-selectors></div>
<p app-selectors></p> -->

<!-- 6 selector ( button[type=reset] ) -->
<!-- <button type="reset"></button> -->

<!-- 7 multiple selector for single component -->
<!-- <drop-zone></drop-zone>
<div dropzone></div> -->

<!-- COMPONENT SELECTORS -->
<!-- COMPONENT SELECTORS -->
<!-- COMPONENT SELECTORS -->
<!-- COMPONENT SELECTORS -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- COMPONENT STYLING , STYLE SCOPING -->

<!-- <app-styling></app-styling> -->

<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- COMPONENT STYLING , STYLE SCOPING -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- Component Lifecycle  &&  INPUT OUTPUT -->
<!-- Component Lifecycle  &&  INPUT OUTPUT -->
<!-- Component Lifecycle  &&  INPUT OUTPUT -->
<!-- Component Lifecycle  &&  INPUT OUTPUT -->
<!-- Component Lifecycle  &&  INPUT OUTPUT -->

<!-- <app-parent></app-parent> -->

<!-- Component Lifecycle  &&  INPUT OUTPUT -->
<!-- Component Lifecycle  &&  INPUT OUTPUT -->
<!-- Component Lifecycle  &&  INPUT OUTPUT -->
<!-- Component Lifecycle  &&  INPUT OUTPUT -->

<!-- INPUT OUTPUT -->
<!-- INPUT OUTPUT -->
<!-- INPUT OUTPUT -->
<!-- INPUT OUTPUT -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- CONTENT PROJECTION -->
<!-- CONTENT PROJECTION -->
<!-- CONTENT PROJECTION -->
<!-- CONTENT PROJECTION -->
<!-- CONTENT PROJECTION -->

<!-- <app-parent></app-parent> -->

<!-- CONTENT PROJECTION -->
<!-- CONTENT PROJECTION -->
<!-- CONTENT PROJECTION -->
<!-- CONTENT PROJECTION -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- Host Elements -->
<!-- Host Elements -->
<!-- Host Elements -->

<!-- <app-host-element></app-host-element> -->

<!-- Host Elements -->
<!-- Host Elements -->
<!-- Host Elements -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- Queries -->
<!-- Queries -->
<!-- Queries -->

<!-- <app-parent></app-parent> -->

<!-- Queries -->
<!-- Queries -->
<!-- Queries -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- BINDINGS -->
<!-- BINDINGS -->
<!-- BINDINGS -->

<!-- <app-binding></app-binding> -->

<!-- BINDINGS -->
<!-- BINDINGS -->
<!-- BINDINGS -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- CONTROL FLOWS -->
<!-- CONTROL FLOWS -->
<!-- CONTROL FLOWS -->

<!-- <app-control-flows></app-control-flows> -->

<!-- CONTROL FLOWS -->
<!-- CONTROL FLOWS -->
<!-- CONTROL FLOWS -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- PIPES -->
<!-- PIPES -->
<!-- PIPES -->

<!-- <app-pipes></app-pipes> -->

<!-- PIPES -->
<!-- PIPES -->
<!-- PIPES -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- DEFER BLOCK -->
<!-- DEFER BLOCK -->
<!-- DEFER BLOCK -->

<!-- <app-defer-block></app-defer-block> -->

<!-- DEFER BLOCK -->
<!-- DEFER BLOCK -->
<!-- DEFER BLOCK -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- Observables -->
<!-- Observables -->
<!-- Observables -->
<!-- Observables -->
<!-- Observables -->

<!-- <app-observables></app-observables> -->

<!-- Observables -->
<!-- Observables -->
<!-- Observables -->
<!-- Observables -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!-- keyboard Events -->
<!-- keyboard Events -->

<!-- <app-keyboard-events></app-keyboard-events> -->

<!-- keyboard Events -->
<!-- keyboard Events -->

<!-- state management using BehaviorSubject , Observable and services -->
<!-- state management using BehaviorSubject , Observable and services -->
<!-- state management using BehaviorSubject , Observable and services -->
<!-- <app-main></app-main> -->
<!-- state management using BehaviorSubject , Observable and services -->
<!-- state management using BehaviorSubject , Observable and services -->
<!-- state management using BehaviorSubject , Observable and services -->

<app-main></app-main>
<!-- <router-outlet></router-outlet> -->
