<!-- COMPONENT SELECTORS -->

<!-- 1 tag name selector = default selector -->
<!-- <app-selectors></app-selectors> -->

<!-- 2 class selector -->
<!-- <div class="app-selectors"></div> -->

<!-- 3 id selector -->
<!-- <div id="app-selectors"></div> -->

<!-- 4 attribute selector -->
<!-- <div app-selectors></div> -->

<!-- 5 attribute selector with :not pseudo class -->
<!-- <div app-selectors></div>
<div app-selectors></div>
<p app-selectors></p> -->

<!-- 6 selector ( button[type=reset] ) -->
<!-- <button type="reset"></button> -->

<!-- 7 multiple selector for single component -->
<!-- <drop-zone></drop-zone>
<div dropzone></div> -->

<!-- COMPONENT SELECTORS -->

<!-- COMPONENT STYLING , STYLE SCOPING -->
<!-- <app-styling></app-styling> -->
<!-- COMPONENT STYLING , STYLE SCOPING -->

<!-- INPUT OUTPUT -->
<!-- <app-parent></app-parent> -->
<!-- INPUT OUTPUT -->

<!-- CONTENT PROJECTION -->
<app-parent01></app-parent01>
<!-- CONTENT PROJECTION -->
