@defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
} @defer (on interaction) {
<img src="betta_fish.jpg" alt="" />
} @placeholder {
<div>Large component placeholder</div>
}
